body{
    margin: 0;
    font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
}
.h1-font-size{
    font-size: 30px;
}
h1{
    font-size: 30px;
}
h3{
    font-size:15px;
}
p{
    color: dimgray;
}
.name-collor{
    color: #EC4C7A;
}
section{
    height: 900px;
}
.button{
text-decoration:none;
background-image: linear-gradient(45deg,rgb(25, 89, 226), rgb(15, 206, 196));
font-weight: 700;
color: white;
border-radius: 5px;
padding: 10px 20px;

}

.half-wide{
    float: left;
    width: 40%;
    height: 650px;
    margin: 80px;
    padding: 10px;
}
.half-wide img{
   width: 100%;
}
.top-banner{
    background-image: url(image/header-bg.png);
}

.middel-bannar{
 background-image: url(image/biography-bg.png);
}
.last-title{
    text-align: center;
}
.last-bannar{
    background-image: url(image/latest-work-bg.png);
    height: 700px;
    background-repeat: no-repeat;
    padding: 50px 250px 0px 250px;
}

.work{
    width: 400px;
}

.third-half{
    float: left;
    padding: 20px;
    margin-left: 20px;
    align-items: center;
}

.footer-div1{
    text-align: center;
}
.footer{
    background-image: url(image/footer-bg.png);   
}

